@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Jost:ital,wght@1,200&family=Poppins:wght@700&family=Roboto&family=Ubuntu&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Ubuntu'; */
    font-family: 'Courier New', Courier, monospace;

}

*::selection {
    color: black;
    background: white;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

html,
body {
    background: transparent;
    color: white;
    overflow-x: hidden;
    color: white;
    -webkit-text-stroke: 0.1px orangered;
    cursor: none;
}

main {
    width: 100vw;
    height: 100%;
}

.pointer {
    position: absolute;
    pointer-events: none;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 50%;
}

.flame {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    opacity: 0.7;
    pointer-events: none;
    mix-blend-mode: screen;
    animation: flame-animation 0.5s ease-out forwards;
}

@keyframes flame-animation {
    from {
        transform: scale(1) translate(0, 0);
        opacity: 0.7;
    }

    to {
        transform: scale(0.1) translate(0, -50px);
        opacity: 0;
    }
}

/* Navbar */
.navbar {
    position: fixed;
    width: 100%;
    background-color: #080807;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    /* Ensure the navbar is always on top */
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease;
    /* Smooth transition for hiding/showing */
}
.navbar.hidden {
    transform: translateY(-100%);
    /* Move navbar up/out of view */
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    cursor: initial;
}

.nav-links li {
    margin: 0 15px;
    position: relative;
}

.nav-link {
    text-decoration: none;
    color: #f5f5dc;
    font-size: 18px;
    transition: color 0.4s ease, transform 0.4s ease, padding 0.4s ease;
    padding: 10px 2px;
    border-radius: 5px;
}

.nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: orangered;
    /* Gold color for underline */
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.4s ease;
}

.nav-link:hover {
    color: orangered;
    /* Gold color for hover effect */
    transform: scale(1.1);
    padding-bottom: 15px;
    /* Increase padding on hover to accommodate underline */
}

.nav-link:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

section {
    padding: 100px 20px;
    min-height: 100vh;
    border-bottom: 1px solid black;
    /* Tan border for sections */
}

/* Responsive nav */
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #080807;
        display: none;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .navbar .menu-toggle {
        display: block;
        background-color: orangered;
        color: #3a2d1f;
        border: none;
        padding: 10px;
        font-size: 18px;
        cursor: pointer;
    }
}

@media (min-width: 769px) {
    .navbar .menu-toggle {
        display: none;
    }
}

/* Homepage */
#homepage {
    background-size: 100% 100%;
    color: black;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
    padding-left: 10%;
    margin: 0;


    #homeHeadings {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        gap: 0.2vw;
        color: black;
    }

    #homeHeadings h1 {
        position: relative;
        font-size: 6vw;
        font-weight: bold;
        letter-spacing: -0.2vw;
        -webkit-text-stroke: 0.5px white;
        color: orangered;
    }

    #homeHeadings h2 {
        position: relative;
        font-size: 3vw;
        font-weight: bold;
        letter-spacing: -0.2vw;
        font-family: 'Jost';
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        left: 15%;
    }
}

@media screen and (max-width: 600px) {
    #homepage {
        #homeHeadings h1 {
            font-size: 6vh;
        }

        #homeHeadings h2 {
            font-size: 3vh;
        }
    }
}

#about {
    width: 100vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    font-size: 2vw;
    margin: 0;

    p {
        width: 60vw;
        font-size: 2vw;
        font-family: Ubuntu;
        line-height: 40px;
    }
}

@media screen and (max-width: 830px) {
    #about {
        font-size: 2.4vw;

        p {
            width: 75vw;
            font-size: 3vw;
            line-height: 35px;
        }
    }
}

@media screen and (max-width: 572px) {
    #about {
        font-size: 4vw;

        p {
            width: 80vw;
            font-size: 3.7vw;
            line-height: 28px;
        }
    }
}

@media screen and (max-width: 416px) {
    #about {
        p {
            line-height: 25px;
        }
    }
}


#skills {
    width: 100vw;
    height: 100vh;
    display: flex;
    gap: 100px;
    font-size: 5vw;
    padding: 150px 200px;
    margin: 0;

    h2 {
        font-size: 5vw;
    }

    #skillsHeadings {
        height: 3vw;
        padding: 0;
    }

    #skillsHeadings h2 {
        display: flex;
        align-items: center;
        justify-content: start;
        font-size: 2vw;
    }

    .skillsLogo {
        font-size: 3vw;
        margin: 0 10px;
    }

    .skillsLogo svg {
        filter: grayscale();
    }

}

@media screen and (max-width: 1000px) {
    #skills {
        flex-direction: column;
        gap: 50px;
        padding: 50px;

        h2 {
            font-size: 7vw;
        }

        #skillsHeadings {
            height: 3vw;
            padding: 0;
        }

        #skillsHeadings h2 {
            display: flex;
            font-size: 4vw;
        }

    }
}

@media screen and (max-width: 600px) {
    #skills {

        h2 {
            font-size: 8vw;
        }

        #skillsHeadings h2 {
            display: flex;
            font-size: 5vw;
        }

        .skillsLogo {
            font-size: 4vh;
        }
    }
}

@media screen and (max-width: 480px) {
    #skills {

        h2 {
            font-size: 9vw;
        }

        #skillsHeadings h2 {
            display: flex;
            font-size: 7vw;
        }

    }
}


#projects {
    /* background-color: red; */
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin: 0;

    #cards {
        display: flex;
        gap: 8vw;
    }

    h2 {
        top: 20%;
        font-size: 5vw;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 15vw;
        height: 20vw;
    }

    .card img {
        width: 100%;
        height: 90%;
    }

    .card a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        background: white;
        border-radius: 20px;
        margin-top: 10px;
        padding: 10px;
        font-size: 1.3vw;
    }

    .card a:hover {
        opacity: 0.5;
    }
}

@media screen and (max-width: 724px) {
    #projects {
        height: 350vh;

        h2 {
            position: relative;
            top: 0%;
            font-size: 7vw;
        }

        #cards {
            display: flex;
            flex-direction: column;
            gap: 20px;

        }

        .card {
            width: 40vw;
            height: 80vh;
            margin: 70px;
            flex-direction: column;

        }

        .card a {
            display: flex;
            align-items: center;
            justify-content: center;
            color: black;
            background: white;
            border-radius: 20px;
            margin-top: 10px;
            padding: 10px;
            font-size: 2vh;
        }

    }
}

@media screen and (max-width: 600px) {
    #projects {
        /* position: relative;
        flex-direction: column; */

        h2 {
            position: relative;
            top: 0%;
            font-size: 9vw;
        }

        .card {
            width: 50vw;
            height: 50vh;
            margin: 70px;
        }

        .card a {
            display: flex;
            align-items: center;
            justify-content: center;
            color: black;
            background: white;
            border-radius: 20px;
            margin-top: 10px;
            padding: 10px;
        }
    }
}


#contact {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;

    h6 {
        font-size: 4vw;
        width: 40vw;
    }

    #contactLinks {
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 25px;
    }

    #contactLinks h5 {
        font-size: 3vw;
        text-align: center;
    }

    #contactLinks div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }

    #contactLinks div a {
        color: black;
        background-color: white;
        padding: 2px 4px;
        border-radius: 5px;
    }

    #contactLinks div a:hover {
        opacity: 0.7;
    }
}

@media screen and (max-width: 906px) {
    #contact {
        width: 100vw;
        height: 200vh;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        h6 {
            font-size: 6vw;
            width: 60vw;
        }

        #contactLinks {
            background: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 50px;
        }

        #contactLinks h5 {
            font-size: 3vw;
            text-align: center;
        }

        #contactLinks div a {
            font-size: 3vw;
        }
    }
}

@media screen and (max-width: 600px) {
    #contact {
        width: 100vw;
        height: 170vh;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        h6 {
            font-size: 6vw;
            width: 60vw;
        }

        #contactLinks {
            background: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 100px;
        }

        #contactLinks h5 {
            font-size: 7vw;
            text-align: center;
        }

        #contactLinks div a {
            font-size: 4vw;
        }
    }
}

.head {
    -webkit-text-stroke: 0.5px white;
    color: orangered;
}